<% layout('layouts/layout-noauth') -%>

<div class="container">
  <h2>Welcome to <%= title %></h2>
  <p>Please sign in</p>
  <p><a class="btn btn-large btn-primary" href="/auth/github">Sign in with GitHub</a></p>
</div>
